{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["transform-rename-import", { original: './index.scss', replacement: './index.css' }]
  ]
}
