@import '~@kununu/kununu-theme-v2/scss/base/variables';

.header {
  background-color: $teal;
  color: $white;
  z-index: 990;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header.simple {
  .flex {
    justify-content: center;
  }

  @media (min-width: $screen-sm-min) {
    .flex {
      justify-content: space-between;
    }

    .title {
      display: block;
    }
  }
}

.simpleLogo {
  width: 138px;
}

.title {
  color: $gray-light;
  font-size: 12px;
  line-height: 18px;
  padding-left: 15px;
  padding: 15px 0  15px 20px;
  margin-right: auto;

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.flex {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  font-size: $font-size-sm;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  li {
    list-style-type: none;
    display: inline-block;

    &:not(:first-child) {
      padding-left: 20px;

      @media (max-width: 480px) {
        padding-left: 15px;
      }
    }

  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
