@import '~kununu-theme/scss/base/variables';

.logoContainer {
  &,
  a {
    display: inline-block;
  }
}

.container {
  position: relative;
}

.logoDesktop {
  &.responsive {
    @media (max-width: 830px) {
      display: none;
    }
  }

  svg {
    width: 128px;
    height: 60px;

    &:hover {
      text-decoration: none;
    }
  }
}

.logoMobile {
  display: none;

  &.responsive {
    @media (max-width: 830px) {
      display: block;

      svg {
        width: 38px;
        height: 60px;
      }
    }
  }
}

.starSpinner {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;

  svg {
    width: 11px;
    height: 11px;
  }

  &.responsive {
    @media (max-width: $screen-xs-max) {
      top: 12px;
    }
  }
}
